*, *::after, *::before {
    box-sizing: border-box;
}

html {
    background: #C8C8C8;
    overflow: hidden;
}
body {
    margin: 0;
    background: #fff;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    font-size: 12px;
    padding-left: 250px;
    padding-right: 0;
    
    -webkit-transition: padding 0.3s ease;
       -moz-transition: padding 0.3s ease;
        -ms-transition: padding 0.3s ease;
            transition: padding 0.3s ease;
}

a {text-decoration: none;color: #B6B6B6;outline: none;}
a:hover, a:focus {color: #888;outline: none;text-decoration: underline;}

body > nav {
    position: absolute;
    left: 0;
    width: 250px;
    height: 100%;
    background: #464C62;
    overflow: hidden;
}
nav #minprofile {
    width:100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1.3em;
    line-height: 22px;
    color: #C3C3C3;
    cursor: pointer;
    z-index: 0;
}
nav #minprofile span {
    white-space: nowrap;
    max-width: 150px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #FFF;
    text-shadow: 0px 1px 1px #171717;
}
aside {
    position: absolute;
    width: 250px;
    right: 0;
    height: 100%;
    background: #fff;
    overflow: hidden;
    z-index: -1;
}
.circleblock {
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
}
.imgbox {
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    line-height: 40px !important;
}
.imgbox img {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
}
.pointer {
    cursor:pointer;
}
.up {
    z-index: 1;
    position: absolute;
    bottom: 6px;
}
.m0 {
 margin:0;
}
.ml10 {
    margin-left: 10px;
}
.ib {
    display:inline-block;
}
.center {
    text-align:center;
}
.abs_center {
    position: absolute!important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto!important;
}
.w25p {
    width: 25%
}
.w50p {
    width: 50%
}
.w100p {
    width: 100%
}
.h25p {
    height: 25%
}
.h50p {
    height: 50%
}
.h100p {
    height: 100%
}

.p1 {padding: 1rem;}
.p2 {padding: 2rem;}
.p3 {padding: 3rem;}
.p4 {padding: 4rem;}
.p5 {padding: 5rem;}

.m1 {margin: 1rem;}
.m2 {margin: 2rem;}
.m3 {margin: 3rem;}
.m4 {margin: 4rem;}
.m5 {margin: 5rem;}

.fz1 {font-size: 1rem;}
.fz2 {font-size: 1.2rem;}
.fz3 {font-size: 1.4rem;}
.fz4 {font-size: 1.6rem;}
.fz5 {font-size: 1.8rem;}
.fz6 {font-size: 2rem;}

.relative {
    position:relative;
}

@-webkit-keyframes anim-rotate {
    0%   {-webkit-transform: rotate(0);}
    100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes anim-rotate {
    0%   {-moz-transform: rotate(0);}
    100% {-moz-transform: rotate(360deg);}
}
@-ms-keyframes anim-rotate {
    0%   {-ms-transform: rotate(0);}
    100% {-ms-transform: rotate(360deg);}
}
@keyframes anim-rotate {
    0%   {transform: rotate(0);}
    100% {transform: rotate(360deg);}
}

.rotating {
    -webkit-animation: anim-rotate 1s linear infinite;
       -moz-animation: anim-rotate 1s linear infinite;
        -ms-animation: anim-rotate 1s linear infinite;
            animation: anim-rotate 1s linear infinite;
}

.lswipe {
    height: 100%;
    width: 60px;
    cursor: pointer;
    padding: 7px;
}
.infoicon {
    width: 32px;
    height: 7px;
    margin: 21px 7px;
    background: #636363;
    position: absolute;
}
.infoicon:before {content:"";display: block;margin-top: -12px;height: 7px;background: #636363;transform: rotate(0);}
.infoicon:after {content:"";    display: block;background: #636363;margin-top: 17px;  height: 7px;transform: rotate(0);}
.closeicon {
    width: 40px;
    height: 10px;
    margin: 19px 3px;
    position: absolute;
    background: transparent!important;
    box-shadow: none!important;
}
.closeicon:before {
    content:"";
    display: block;
    margin-top: 1px;
    height: 7px;
    -webkit-transform: rotate(135deg);
       -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
}
.closeicon:after {
    content:"";
    display: block;
    margin-top: -7px;
    height: 7px;
    -webkit-transform: rotate(-135deg);
       -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
}

.closeicon:after,.closeicon:before, .closeicon,.infoicon, .infoicon:after,.infoicon:before {
    transition: 0.3s all ease-in-out;
}

header.online .infoicon, header.online .infoicon:before, header.online .infoicon:after {
    background: #8A8A8A;
}

header.online nav {
    border-bottom: 3px solid #88c739;
}

h4 {
    text-align: center;
}



/* content-editable without inputs */

.editable-container {
    position: relative;
    margin: 0 0 10px 0;
    padding: 0;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s;
}
.editable-container .editable-value  {
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    display: inline-block;
    padding: 0 0.2rem;
    min-width: 5em;
}
.editable-container.valid[data-success],
.editable-container.invalid[data-error],
.editable-container[data-info] {
    margin: 0 0 18px 0;
}
.editable-container.disabled {
    border: none;
    margin: 0;
}
.editable-container.disabled .editable-value {
    border: none;
}
.editable-container .editable-value:focus {
}
.editable-container .editable-buttons {
    margin: 0;
    padding: 0;
    vertical-align: super;
}
.editable-container .editable-buttons,
.editable-container .editable-buttons li {
    display: inline;
}
.editable-container .editable-value:focus {
    outline: none;
    border-bottom: 1px solid #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
}
.editable-container.valid .editable-value {
    border-bottom: 1px solid #4CAF50;
    box-shadow: 0 1px 0 0 #4CAF50; 
}
.editable-container.valid:after {
    content: attr(data-success);
    color: #4CAF50;
    opacity: 1; 
}
.editable-container.invalid  .editable-value {
    border-bottom: 1px solid #F44336;
    box-shadow: 0 1px 0 0 #F44336; 
}
.editable-container.invalid:after {
    content: attr(data-error);
    color: #F44336;
    opacity: 1; 
}
.editable-container:after {
    display: block;
    content: attr(data-info);
    opacity: 0;
    transition: .2s opacity ease-out, .2s color ease-out; 
}



/* contacts list */
#contacts {
    color: #A1A1A1;
    border: none;
}
#contacts > div {
    cursor: pointer;
    min-height: 30px;
    background-color: #464C62;
    padding-left: 45px;
    border: none;
    width: 100%;
}
#contacts > div.showOptions {
    padding-top: 5px;
    padding-bottom: 3px;
}
#contacts > div.current {
    cursor: default;
    background-color: #3B4052;
}
#contacts > div[data-newmsg]:before {
    content: attr(data-newmsg);
    float: right;
    margin-top: 0;
    margin-right: -10px;
    padding: 0 7px;
    color: #FFF;
    font-size: 16px;
    border-radius: 3px;
    text-shadow: 0 0 18px #FFF;
}
#contacts > div img {
    width: 32px;
    height: 32px;
    left: 5px;
    top: 5px;
}
#contacts > div.online {
    border-left: 3px solid #67BA00;
}

/* loader */
div.loading {
    height: 100%;
    position: relative;
    background: #fff;
    z-index: 1;
}
div.loading > div {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    width: 96px;
    height: 96px;
    text-align: center;
}
div.loading > div > div {
    font-size: 8em;
    display: inline-block;
    color: #DADADA;
}


/*  sections (pages) */
section {
    position: relative;
    height: 100%;
    box-shadow: 0 0px 2px #555;
    background: #fff;
    min-width: 200px;
}

section header {
    box-sizing: border-box;
    z-index: 4;
    position: relative;
    line-height: 40px;
    font-size: 1.5em;
}
section header.nonbg {
    background: transparent;
    border: none;
}
section header.nonbg .infoicon {
    background: #ccc;
}
section header.nonbg .infoicon:before {
    background: #ccc;
}
section header.nonbg .infoicon:after {
    background: #ccc;
}
section header.nonbg nav {
    background: transparent;
    color: #333;
    box-shadow:none;
}
section header nav {
    background-color: #FFFFFF;
    color: #333;
}

section header small {color: #AEAEAE;}

section .window {
    position: absolute;
    top: -40px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 310px;
    height: 230px;
}
section .block {
    text-align: center;
    background: #FFF;
    border: 1px solid #C3CFD8;
    border-radius: 2px;
    box-shadow: 0px 1px 5px #D4DCE1;
    padding: 0 15px;
}
section .block .btn-large {
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

section .links {
    margin-top: 10px;
}
section .links a {
    width: 50%;
    color: #0095DD;
    font-weight: bold;
}
section .links .left {
    padding: 0px 4% 0px 0px;
}
section .links .right {
    padding: 0px 0px 0px 4%;
}

section output {
    width:100%!important;
    height:300px;
    overflow: auto;
    box-sizing: border-box;
    display: block;
    z-index: 2;
    position: relative;
    background: #fff;
    outline: none;
}
section output div.message {
    padding: 0 30px 10px;
    margin-bottom: 0px;
    word-wrap: break-word;
    min-height: 50px;
    position: relative;
}
section output div.message:after {
    content:"";
    height: 100%;
    width: 3px;
    position: absolute;
    background: #eee;
    z-index: 1;
    top: 0px;
}
section output div.message.in:after {
    left: 48px;
}
section output div.message.out:after {
    right: 48px;
}
section output div.message:last-child {
}
section output div.message.waiting {
    background: #F9F9F9;
}
section output div.message.error {
    background: #FFECEC;
}
section output div.message.error:after {
    background: #F00;
}
section output div.message.error .bodymsg .footer  {
    color: #F00;
}
section output div.message.error > img {
    border-color: #FF6B6B;
}
section output div.message.out {
    text-align: right;
}
section output div.message > img {
    border-radius: 50%;
    width: 40px;
    z-index: 2;
    position: relative;
    border: 3px solid #ECECEC;
}
section output div.message.in > img {
    float: left;
}
section output div.message.out > img {
    float: right;
}
section output div.message.continued.in .bodymsg {
    margin-left: 41px;
}
section output div.message.continued.out .bodymsg {
    margin-right: 41px;
}
section output div.message .bodymsg {
    font-size: 1.1em;
    padding-top: 10px;
    width: auto;
    max-width: 75%;
    display: inline-block;
}

section output div.message .bodymsg > div {
    text-align: left;
}

section output div.message.in .bodymsg {
    padding-left: 25px;
}
section output div.message.out .bodymsg {
    padding-right: 25px;
}

section output div.message .bodymsg .headmsg {
    overflow: hidden;
    margin-bottom: 5px;
}
section output div.message.in .bodymsg .headmsg {
    float: right;
}
section output div.message.out .bodymsg .headmsg {
    float: left;
}

section output div.message .bodymsg .headmsg h3 {
    margin: 0;
}

section output div.message time {
    color: #C8C8C8;
}

section output div.message.out time {
    float:right
}

section header .search-nav-block #search_field:focus ~ .lswipe div,
section header .search-nav-block #search_field:focus ~ .lswipe div:before,
section header .search-nav-block #search_field:focus ~ .lswipe div:after {
    background-color: #ccc;
}

section header .search-nav-block .lswipe {
    position:absolute;
    top:0;
}
section header .search-nav-block i {
    position: absolute;
    right: 0;
    top: 0;
}
section header .search-nav-block {

}
section header .search-nav-block {

}




section footer {
    position: absolute;
    bottom: 0;
    min-height: 40px;
    width: 100%;
    background: #F4F4F4;
    padding: 5px;
    border-top: 1px solid #D3D3D3;
    z-index: 2;
    box-sizing: border-box;
}
section footer div.textarea {
    position: relative;
    left: 0;
    max-width: 100%;
    min-height: 35px;
    padding: 0px 40px 0px 80px;
    border-radius: 0;
    outline: none;
    color: #020202;
    border: none;
    background: none;
}
section footer div.textarea textarea {
    width: 100%;
    max-height: 20rem;
    max-width: 100%;
    min-width: 100%;
    font-size: 1.3em;
    resize: none;
    outline: none;
    margin-bottom: 2px;
    padding: 3px 0;
    min-height: 1.6rem;
    overflow-y: auto;
}
footer.nonbg {
    background: #fff;
    border-top: none;
    box-shadow: none;
}

.panel {
    width: 300px;
    height: 300px;
    background: #fff;
    border: 1px solid rgba(100, 100, 100, 0.4);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 43px;
    display: none;
}
.panel > div {
    position:relative;
}
.panel .imgbox {
    border: 1px solid #F4F4F4;
    box-sizing: border-box;
    height: 75px;
    line-height: 75px !important;
}
.panel .textbox {
    border: 1px solid #F4F4F4;
    box-sizing: border-box;
    height: 75px;
    line-height: 75px !important;
    font-size: 1.5em;
    text-align: center;
}
.panel .imgbox:hover, .panel .textbox:hover {
    background: #eee;
    border: 1px solid #eee;
}
.panel::before {
    content:"";
    position: absolute;
    background: #fff;
    width: 16px;
    height: 16px;
    bottom: -7px;
    box-shadow: 3px 2px 3px 0 rgba(0, 0, 0, 0.15);
    
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
.panel-apps::before {
    left: 7px;
}
.panel-smile::before {
    left: 45px;
}


/* For notifications */
.activity-item {
}
.activity-item i,
.activity-item .activity {
    display: table-cell;
    vertical-align: middle;
}
.activity-item a {
    color: #005B9D;
}
.activity-item .activity {
    padding-left: 10px;
}

/* For main loader */
.mainloader, .mainloader div {
    height: 100%;
    border-radius: 50%;
    padding: 8px;
    border: 3px solid transparent;
    border-top-color: rgba(5, 126, 6, 0.5);
    border-left-color: rgba(205, 205, 205, 0.5);
    box-sizing: border-box;
    -webkit-animation: anim-rotate linear 3.5s infinite;
            animation: anim-rotate linear 3.5s infinite;
}
.mainloader {
    position: relative;
    margin: 0 auto;
    width: 260px;
    height: 260px;
    display: block;
    overflow: hidden;
}

.mainloader div:hover {
    border-width: 1px;
    -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.mainloader:hover {
    border-width: 1px;
}
.mainloader div, .mainloader,.mainloader div:hover,.mainloader:hover {
    -webkit-transition: border-width 0.2s ease;
       -moz-transition: border-width 0.2s ease;
        -ms-transition: border-width 0.2s ease;
            transition: border-width 0.2s ease;
}
.mainloader.stop, .mainloader.stop div {
    border-top-color: rgba(255, 0, 0, 0.5);
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
}


ul#noty_topRight_layout_container > li {
    height: auto!important;
    width: auto!important;
}


.card-image.myprofile {
    height:200px;
    overflow: hidden;
    border-radius: 5px;
}
.card-image.myprofile img {
    width: auto;
    max-width: 100%;
}

.card-image.myprofile i.material-icons {
    position: relative;
    margin: 1rem;
    padding: 1rem;
}

.myprofile__avatar-float {
    width: 150px;
    height: 150px;
    float: right;
    top: -100px;
    right: 10%;
}

.myprofile__avatar-float img {
    border: 5px solid white;
    box-shadow: 0px -13px 16px rgba(0, 0, 0, 0.44);
}

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
    overflow: hidden;
    position: relative;
    width: 100%!important;
}

.jspPane
{
    position: absolute;
    width: 100%!important;
    box-sizing: border-box;
    padding: 20px 16px 15px 0px!important;
}

.jspVerticalBar
{
    position: absolute;
    right: 0;
    width: 16px;
    height: 100%;
}

.jspHorizontalBar
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16px;
    background: red;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
    margin: 0;
    padding: 0;
}

.jspCap
{
    display: none;
}

.jspHorizontalBar .jspCap
{
    float: left;
}

.jspTrack
{
    background: #EFEFEF;
    position: relative;
}

.jspDrag
{
    background: #DADADA;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
    float: left;
    height: 100%;
}

.jspArrow
{
    background: #50506d;
    text-indent: -20000px;
    display: block;
    cursor: pointer;
}

.jspArrow.jspDisabled
{
    cursor: default;
    background: #80808d;
}

.jspVerticalBar .jspArrow
{
    height: 16px;
}

.jspHorizontalBar .jspArrow
{
    width: 16px;
    float: left;
    height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
    outline: none;
}

.jspCorner
{
    background: #eeeef4;
    float: left;
    height: 100%;
}

/* for mobile */

@media screen and (max-width: 400px) {
    section footer div.textarea textarea {
        font-size: 1.4em;
        padding: 6px;
    }
    
}